/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* line 6, ../sass/global.scss */
body {
  background: url(../img/bg_pattern.png) repeat;
  font: normal 14px/20px Arial, Helvetica, sans-serif;
  color: #56595e;
}

/* line 12, ../sass/global.scss */
a:link, a:visited, a:hover {
  text-decoration: none;
  color: #009900;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

/* line 22, ../sass/global.scss */
a:hover {
  color: #000000;
}

/* line 27, ../sass/global.scss */
h1,
h2 {
  font-family: "BebasNeueRegular";
  font-weight: 100;
  line-height: 1;
}

/* line 34, ../sass/global.scss */
h1.site-name,
h2.site-name {
  font-size: 3em;
  font-weight: 100;
  text-transform: uppercase;
}
/* line 38, ../sass/global.scss */
h1.site-name a,
h2.site-name a {
  color: #009900;
}

/* line 44, ../sass/global.scss */
h1.site-name a:hover,
h2.site-name a:hover {
  color: #222222;
}

/** Blocks **/
/* line 49, ../sass/global.scss */
h2.block-title {
  font-size: 2em;
  margin-bottom: .5em;
}

/* line 54, ../sass/global.scss */
.region-sidebar-second .block {
  margin-right: -28px;
  background: url(../img/bg_block_sidebar_right.png) no-repeat right top;
  color: white;
}
/* line 58, ../sass/global.scss */
.region-sidebar-second .block .block-inner {
  background: #009900;
  margin-right: 28px;
  padding: 1em;
}
/* line 63, ../sass/global.scss */
.region-sidebar-second .block h2.block-title {
  color: white;
  text-shadow: 1px 1px 2px #222222;
}

/* line 69, ../sass/global.scss */
#zone-branding #region-branding {
  margin: 20px 0;
  width: 960px;
}

/* Main Menu */
/* line 75, ../sass/global.scss */
#zone-menu-wrapper {
  background-color: #009900;
  margin-bottom: 20px;
}

/* line 80, ../sass/global.scss */
#zone-menu ul.menu {
  margin: 0;
  padding: 0;
}
/* line 83, ../sass/global.scss */
#zone-menu ul.menu li {
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 40px;
  line-height: 55px;
  list-style: none;
  font-family: "BebasNeueRegular";
  font-size: 2em;
  text-shadow: 1px 1px 2px #222222;
}
/* line 93, ../sass/global.scss */
#zone-menu ul.menu li a {
  color: white;
}

/* line 100, ../sass/global.scss */
#zone-menu ul.menu li a:hover, #zone-menu ul.menu li a.active {
  color: black;
  text-shadow: none;
}

/* line 105, ../sass/global.scss */
#block-system-main {
  font-size: 1.231em;
  line-height: 1.4;
}

/** Frontpage Promo block **/
/* line 111, ../sass/global.scss */
#zone-preface #region-preface {
  width: 940px;
}

/* line 115, ../sass/global.scss */
.block-promo-homepage-block {
  margin-bottom: 20px;
}

/* line 119, ../sass/global.scss */
ul.promo-items {
  margin: 0;
  padding: 0;
}

/* line 124, ../sass/global.scss */
ul.promo-items li.promo-item {
  margin: 0;
  padding: 0;
  position: relative;
  height: 320px;
  width: 940px;
}
/* line 130, ../sass/global.scss */
ul.promo-items li.promo-item .promo-description {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 1.8em;
  background: url(../img/bg_promo_description.png) repeat;
  width: 33%;
  text-align: right;
  z-index: 100;
}
/* line 139, ../sass/global.scss */
ul.promo-items li.promo-item .promo-description h1 {
  text-shadow: 1px 1px 2px white;
}
/* line 143, ../sass/global.scss */
ul.promo-items li.promo-item .promo-visual {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

/** Search Block **/
/* line 153, ../sass/global.scss */
#block-search-form {
  position: absolute;
  top: 40px;
  right: -26px;
}
/* line 157, ../sass/global.scss */
#block-search-form input.form-text {
  background: none;
  border: none;
  border-bottom: 1px solid #888;
  padding-bottom: 4px;
  padding-right: 30px;
}
/* line 164, ../sass/global.scss */
#block-search-form input.form-submit {
  background: url(../img/bg_search_btn.png) no-repeat center center;
  text-indent: -999em;
  border: none;
  width: 25px;
  height: 20px;
  cursor: pointer;
  position: relative;
  right: 30px;
}

/** Footer **/
/* line 177, ../sass/global.scss */
#zone-footer {
  font-size: 0.846em;
}
/* line 179, ../sass/global.scss */
#zone-footer #region-footer-first {
  padding: 40px 0 20px;
  text-align: center;
}
