/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  background: url(../img/bg_pattern.png) repeat;
  font: normal 14px/20px Arial, Helvetica, sans-serif;
  color: #56595e;  
}

a:link, a:visited, a:hover {
  text-decoration: none;
  color: #009900;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

a:hover {
  color: #000000;
}

h1,
h2 {
  font-family: "BebasNeueRegular";
  font-weight: 100;
  line-height: 1;
}

h1.site-name,
h2.site-name {
  font-size: 3em;
  font-weight: 100;
  text-transform: uppercase;
}

h1.site-name a,
h2.site-name a {
  color: #009900;
}

h1.site-name a:hover,
h2.site-name a:hover {
  color: #222222;
}

/** Blocks **/
h2.block-title {
  font-size: 2em;
  margin-bottom: .5em;
}

.region-sidebar-second .block {
  padding: 1em;
  background: white;
}

#region-branding {
  margin: 20px 0;
}

/* Main Menu */
#zone-menu-wrapper {
  background: #009900;
  margin-bottom: 20px;
}

#zone-menu ul.menu {
  margin: 0;
  padding: 0;
}

#zone-menu ul.menu li {
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 40px;
  line-height: 55px;
  list-style: none;
  font-family: "BebasNeueRegular";
  font-size: 2em;
  text-shadow: 1px 1px 2px #222;
}

#zone-menu ul.menu li a {
  color: white;
}

#zone-menu ul.menu li a:hover, #zone-menu ul.menu li a.active {
  color: black;
  text-shadow: none;
}

#block-system-main {
  font-size: 1.385em;
  line-height: 1.4;
}

/** Frontpage Promo block **/
.block-promo-homepage-block {
  margin-bottom: 20px;
}

ul.promo-items {
  margin: 0;
  padding: 0;
}

ul.promo-items li.promo-item {
  margin: 0;
  padding: 0;
  position: relative;
  height: 320px;
  width: 960px;
}

ul.promo-items li.promo-item .promo-description {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 1.8em;
  background: url(../img/bg_promo_description.png) repeat;
  width: 33%;
  text-align: right;
}