@import "base";

/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
 background: url(../img/bg_pattern.png) repeat;
  font: normal 14px/20px Arial, Helvetica, sans-serif; 
  color: #56595e;  
}

a:link, a:visited, a:hover {
  text-decoration: none;
  color: $mainColor;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

a:hover {
  color: #000000;
}

h1,
h2 {
  font-family: "BebasNeueRegular";
  font-weight: 100;
  line-height: 1;
}

h1.site-name,
h2.site-name {
  font-size: 3em;
  font-weight: 100;
  text-transform: uppercase;
  a {
	  color: $mainColor;  
  }
}

h1.site-name a:hover,
h2.site-name a:hover {
  color: #222222;
}

/** Blocks **/
h2.block-title {
  font-size: 2em;
  margin-bottom: .5em;
}

.region-sidebar-second .block {
  padding: 1em;
  background: $mainColor;
  color: $inverseColor;
  h2.block-title {
    color: $inverseColor;
    text-shadow: 1px 1px 2px $inverseColorShadow;
  }
}

#zone-branding #region-branding {
  margin: 20px 0;
  width: 960px;
}

/* Main Menu */
#zone-menu-wrapper {
  background-color: $mainColor;
  margin-bottom: 20px;
}

#zone-menu ul.menu {
  margin: 0;
  padding: 0;
  li {
	  margin: 0;
	  padding: 0;
	  float: left;
	  margin-right: 40px;
	  line-height: 55px;
	  list-style: none;
	  font-family: "BebasNeueRegular";
	  font-size: 2em;
	  text-shadow: 1px 1px 2px $inverseColorShadow;
	  a {
		  color: $inverseColor;
		}
	}

}

#zone-menu ul.menu li a:hover, #zone-menu ul.menu li a.active {
  color: $inverseColorActive;
  text-shadow: none;
}

#block-system-main {
  font-size: 1.231em;
  line-height: 1.4;
}

/** Frontpage Promo block **/
#zone-preface #region-preface {
  margin: 0;
  width: 960px;
}

.block-promo-homepage-block {
  margin-bottom: 20px;
}

ul.promo-items {
  margin: 0;
  padding: 0;
}

ul.promo-items li.promo-item {
  margin: 0;
  padding: 0;
  position: relative;
  height: 320px;
  width: 960px;
  .promo-description {
	  position: absolute;
	  top: 20px;
	  right: 0;
	  padding: 1.8em;
	  background: url(../img/bg_promo_description.png) repeat;
	  width: 33%;
	  text-align: right;
	  h1 {
		  text-shadow: 1px 1px 2px $defaultColorShadow;
		}
	}

}

/** Search Block **/
#block-search-form {
  position: absolute;
  top: 40px;
  right: 0;
  input.form-submit {
	  background: url(../img/bg_search_btn.png) no-repeat center center;
	  text-indent: -999em;
	  border: none;
	  width: 25px;
	  height: 20px;
	  cursor: pointer;
	}
}

/** Footer **/
#zone-footer {
  font-size: 0.846em;
  #region-footer-first {
    padding: 40px 0 20px;
    text-align: center;
  }
}